.sub-card{
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-top: 1px solid #000000;

    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.Header{
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    text-align: left;
    margin: 10px 0 10px 10px;
}

.sub-card-time{
    border-right: 1px solid #000000;
    padding: 0.25em 1em 0.25em 0em !important;
}

.sub-card-1-row{
    display: flex;
    align-content: left;
}

.t-l{
    color:white !important;
}

.t-lr{
    color:white !important;
}

.t-p{
    color:white !important;
}

.sub-card-item{
    margin: 0 0 0 0.25em;
    padding: 0.25em;

    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}