.sub-card{
    background-color: antiquewhite;
    padding: 0.5em;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 30px;
    font-size: 0.9em*12px;
}

.Header{
    font-size: 34px;
    font-weight: bold;
}

.sub-card-time{
    background-color: aliceblue !important;
    color:black !important;
}

.sub-card-1-row{
    display: flex;
    flex-direction: row;
    margin: auto;
    padding: 0.2em;
}


.t-l{
    background-color: rgb(0, 136, 255) !important;
    color:white !important;
}

.t-lr{
    background-color: rgb(118, 233, 52) !important;
    color:white !important;
}

.t-p{
    background-color: rgb(220, 117, 15) !important;
    color:white !important;
}

.sub-card-item{
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
    color:black;
    padding: 0.5em;
    margin: 0.2em;
    min-width: 4em;
}